body {
  font-family: "Jost", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
  overflow-x: hidden;
  background-color: #000000;
}
/* links  */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Russo One", sans-serif;
  color: #ffffff;
  margin: 0px 0px 1rem;
}
li {
  list-style-type: none;
}


.header-default {
  width: 100%;
  position: relative;
  z-index: 9;
  padding: 0 80px;
  background-color: #000000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  /* Site Main Logo */
  /* Site Main Menu */
  /* Site Action Button */
  /* Sticky Header */
}

.header-default.header-absolute {
  position: absolute;
  left: 0;
  background: transparent;
}

.header-default .header-inner {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.header-default .site-logo {
  min-width: 250px;
}

.header-default .site-logo .navbar-brand {
  display: block;
  padding: 30px 0;
}

.header-default .site-menu .main-menu {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0 50px;
  height: 100%;
  list-style-type: none;
  /* Header Submenu */
}

.header-default .site-menu .main-menu .nav-item {
  display: flex;
  position: relative;
  align-items: center;
}

.header-default .site-menu .main-menu .nav-item a {
  font-family: "Jost", sans-serif;
  font-size: 18px;
  padding: 10px 0;
  color: #ffffff;
  position: relative;
}

.header-default .site-menu .main-menu .nav-item a i {
  font-weight: bold;
  margin-left: 5px;
  font-size: 12px;
  margin-top: 2px;
}

.header-default .site-menu .main-menu .nav-item.active > a {
  color: #77BEFF;
}

.header-default .site-menu .main-menu .nav-item.active > a:before,
.header-default .site-menu .main-menu .nav-item:hover > a:before {
  content: "";
  background-image: url(../images/menu-hover.png);
  height: 8px;
  position: absolute;
  bottom: 0;
  left: -5px;
  right: 0;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}

.header-default .site-menu .main-menu .nav-item:hover .submenu {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}

.header-default .site-menu .main-menu .submenu {
  background: #212121;
  list-style-type: none;
  position: absolute;
  left: -20px;
  top: 100%;
  z-index: 2;
  min-width: 230px;
  opacity: 0;
  visibility: hidden;
  padding: 15px 0;
  margin-top: 15px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.header-default .site-menu .main-menu .submenu li {
  padding: 0 25px;
}

.header-default .site-menu .main-menu .submenu li a {
  font-size: 16px;
  padding: 8px 0;
}

.header-default .site-menu .main-menu .submenu li a.active {
  color: #77BEFF;
}

.header-default .site-menu .main-menu .submenu li.active > a {
  color: #77BEFF;
}

.header-default .site-menu .main-menu .submenu li:hover a {
  color: #77BEFF;
}

.header-default .site-action {
  min-width: 250px;
}

.header-default .site-action .action-hamburger {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.header-default.is-sticky {
  position: fixed;
  background-color: #000000;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.07);
  top: -110px;
  animation: stickySlideDown 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.header-default.is-sticky .site-logo .navbar-brand {
  padding: 15px 0;
}

.header-default.is-sticky.sticky-show {
  top: 0;
}

/*---------------------------------*/
/* Header Style 3 */
/*---------------------------------*/
.header-3 {
  width: 100%;
  position: relative;
  z-index: 9;
  padding: 0 80px;
  background-color: #000000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  /* Site Main Logo */
  /* Site Main Menu */
  /* Site Action Button */
  /* Mobile Action Button */
  /* Sticky Header */
}


/* unofficial */

/* Hamburger Menu Trigger Aniamtions */
.hamburger {
  padding: 15px;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  background-color: transparent;
}
.hamburger .hamburger-container {
  position: relative;
  top: 3px;
  width: 28px;
  height: 18px;
  display: inline-block;
}
.hamburger .hamburger-container .hamburger-inner {
  position: absolute;
  width: 100%;
  height: 3px;
  top: 50%;
  transform: translate(5px, -50%);
  background-color: #D4D6D7;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.5s;
  opacity: 1;
}
.hamburger .hamburger-container .hamburger-inner:before {
  position: absolute;
  content: "";
  transform: translate(-5px, 0);
  top: -11px;
  width: 100%;
  height: 3px;
  background-color: #D4D6D7;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.5s;
  opacity: 1;
}
.hamburger .hamburger-container .hamburger-inner:after {
  position: absolute;
  content: "";
  top: 11px;
  transform: translate(-5px, 0);
  width: 100%;
  height: 3px;
  background-color: #D4D6D7;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.5s;
  opacity: 1;
}
.hamburger .hamburger-container .hamburger-hidden {
  position: absolute;
  top: 50%;
  transform: translate(51px, -50%);
  width: 100%;
  height: 3px;
  background-color: #000000;
  opacity: 0;
  transition-duration: 0.5s;
  transition-property: transform, opacity;
  transition-timing-function: ease;
}
.hamburger .hamburger-container .hamburger-hidden:before {
  position: absolute;
  content: "";
  top: -11px;
  width: 100%;
  height: 3px;
  background-color: #000000;
  transition-duration: 0.5s;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transform: translate(102px, 0);
}
.hamburger .hamburger-container .hamburger-hidden:after {
  position: absolute;
  content: "";
  top: 11px;
  transform: translate(101px, 0);
  width: 100%;
  height: 3px;
  background-color: #000000;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
}
.hamburger:hover .hamburger-inner {
  transform: translate(-51px, 50%);
  opacity: 0;
}
.hamburger:hover .hamburger-inner:before {
  transform: translate(102px, 0);
  opacity: 0;
}
.hamburger:hover .hamburger-inner:after {
  transform: translate(102px, 0);
  opacity: 0;
}
.hamburger:hover .hamburger-hidden {
  opacity: 1;
  transform: translate(0, -50%);
}
.hamburger:hover .hamburger-hidden:before {
  opacity: 1;
  transform: translate(0, 0);
}
.hamburger:hover .hamburger-hidden:after {
  opacity: 1;
  transform: translate(0, 0);
}
/* buttons  */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 160px;
  height: 160px;
  padding: 15px;
  gap: 10px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 100%;
  transition: all 0.35s ease-in-out;
  position: relative;
  z-index: 2;
}
.btn .btn-effect {
  position: absolute;
  z-index: 0;
  display: block;
  width: 0px;
  height: 0px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 1;
  background-color: #fa4729;
  transition: all 0.9s ease;
  outline: none;
}
.btn span {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
  transition: all 0.35s ease-in-out;
}
.btn svg path {
  stroke: #ffffff;
  transition: all 0.35s ease-in-out;
}
.btn:after {
  position: absolute;
  content: "";
  right: -6px;
  top: -6px;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 1px solid rgba(255, 255, 255, 0.15);
  transition: all 0.35s ease-in-out;
  z-index: -1;
  border-radius: 100%;
}
.btn:hover,
.btn:focus {
  border: 1px solid #77beff;
  background: none;
}
.btn:hover span,
.btn:focus span {
  color: #77beff;
}
.btn:hover:after,
.btn:focus:after {
  border: 1px solid #77beff;
}
.btn:hover svg path,
.btn:focus svg path {
  stroke: #77beff;
}
.btn.arrow-down {
  width: 128px;
  height: 128px;
}
.btn.arrow-down svg {
  transform: rotate(90deg);
  width: 37px;
  height: 40px;
}
.btn.arrow-down svg path {
  stroke: #ffffff;
}
.btn.arrow-down:before {
  left: 8px;
  top: 8px;
  right: 8px;
  bottom: 8px;
}
.btn.arrow-down:hover svg path {
  stroke: #77beff;
}
.btn-primary {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  border: none;
  padding: 10px 45px;
  border-radius: 50px;
  background-color: #77beff;
  background: linear-gradient(130deg, #3663d8 0%, #77beff 100%);
}
/* Small Button Arrow*/
.btn-arrow {
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-top: 4px;
  padding-right: 4px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.btn-arrow svg {
  position: relative;
}
.btn-arrow svg path {
  stroke: #d4d6d7;
  transition: all 0.3s ease-in-out;
}
.btn-arrow:after {
  content: "";
  position: absolute;
  left: -4px;
  bottom: -4px;
  opacity: 1;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
}
.btn-arrow:before {
  /*		content: "";*/
  position: absolute;
  left: 3px;
  right: 3px;
  top: 3px;
  bottom: 3px;
  opacity: 0;
  transform: scale(0.8);
  border-radius: 50px;
  background-color: #77beff;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(170deg, #3663d8 0%, #77beff 100%);
}
.btn-arrow:hover {
  border: 1px solid #77beff;
}
.btn-arrow:hover svg path {
  stroke: #ffffff;
}
.btn-arrow:hover:after {
  border: 1px solid #77beff;
}
.btn-arrow:hover:before {
  opacity: 1;
  transform: scale(1);
}
/* Button Hover Effect */
.attract-hover {
  display: inline-block;
}
.attract-hover-easing {
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.item-efftect {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  bottom: 0;
}
.item-efftect .efftect {
  position: absolute;
  width: 1px;
  height: 100vh;
  top: 0px;
  background: rgba(255, 255, 255, 0.04);
  overflow: hidden;
}
.item-efftect .efftect::after {
  position: absolute;
  top: -50%;
  left: 0;
  content: "";
  height: 70px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(131, 131, 131, 0.1) 0%,
    #77beff 75%,
    rgba(131, 131, 131, 0.1) 100%
  );
  display: block;
  -webkit-animation: run 5s 0s infinite;
  animation: run 5s 0s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.item-efftect .efftect:nth-child(1) {
  left: 5%;
}
.item-efftect .efftect:nth-child(1)::after {
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
}
.item-efftect .efftect:nth-child(2) {
  left: 25%;
}
.item-efftect .efftect:nth-child(2)::after {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.item-efftect .efftect:nth-child(3) {
  left: 50%;
}
.item-efftect .efftect:nth-child(3)::after {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.item-efftect .efftect:nth-child(4) {
  left: 75%;
}
.item-efftect .efftect:nth-child(4)::after {
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}
.item-efftect .efftect:nth-child(5) {
  left: 95%;
}
.item-efftect .efftect:nth-child(5)::after {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}
@keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
/* main banner- */
.main-banner.main-banner-2 {
  padding-top: 250px;
  overflow: hidden;
}
.main-banner.main-banner-2 .banner-inner {
  position: relative;
  padding-bottom: 110px;
}
.main-banner.main-banner-2 .banner-inner .banner-bg {
  position: absolute;
  right: -10px;
  top: 0px;
}
.main-banner.main-banner-2 .banner-inner .banner-conent {
  position: relative;
}
.main-banner.main-banner-2 .banner-inner .banner-conent .sub-title {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
  background: linear-gradient(60deg, #3663d8 -20%, #77beff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-banner.main-banner-2 .banner-inner .banner-conent .title {
  font-size: 140px;
  line-height: 150px;
}
.main-banner.main-banner-2 .banner-inner .banner-conent .conent {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.main-banner.main-banner-2 .banner-inner .banner-conent .conent .small-text {
  max-width: 450px;
  margin-bottom: 0px;
  margin-top: 20px;
}
.main-banner.main-banner-2 .banner-inner .banner-conent .conent .title {
  position: relative;
  margin-left: 28px;
}
.main-banner.main-banner-2
  .banner-inner
  .banner-conent
  .conent
  .title
  .banner-icon {
  position: absolute;
  top: 54px;
  left: 102px;
}
.main-banner.main-banner-2
  .banner-inner
  .banner-conent
  .counter.counter-style-1 {
  margin-left: -50px;
}
.site-content {
  position: relative;
  z-index: 2;
  background-color: #000000;
}
.flex-items {
  display: flex;
  flex-wrap: wrap;
}
.flex-items2 {
  display: flex;
}
.container-end {
  display: flex;
  justify-content: flex-end;
}
.margin-counters {
  margin-left: 7rem;
  margin-top: 2rem;
}
.mx-auto {
  margin: auto;
}
.banner-conent {
  padding-left: 5px;
}
.conainer5 {
  width: 100%;
  display: flex;
  gap: 25px;
}
.pl-12 {
  padding-left: 12rem;
}
.pl-122 {
  padding-left: 4rem;
}
.ml-1 {
  margin-left: 11rem;
}
.pt {
  padding-top: 6rem;
  width: 60%;
}
.space-ptb {
  padding: 150px 0;
}
.section-title {
  margin-bottom: 50px;
}
.section-title .sub-title {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
  background: linear-gradient(60deg, #3663d8 -20%, #77beff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-title .title {
  margin-bottom: 25px;
  text-transform: capitalize;
}
.section-title p {
  font-size: 20px;
  margin-bottom: 0;
  line-height: normal;
  color: #d4d6d7;
}
.section-title p + p {
  margin-top: 20px;
}
.section-title.section-title-light .title {
  color: #ffffff;
}
.section-title.section-title-light p {
  color: #ffffff;
}
